.login-page {
    background-image: url(../img/doodle-02.jpg);
    height: 100vh;
}

.form.login {
    position: relative;
    margin-top: 20vh;
    background-color: #fff;
    border-radius: 4px;

    padding-top: 15px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

button.full-width {
    width: 100%;
}

.navbar-logo {
    margin-left: 20px;
    font-size: 1.2em;
}

@media screen and (min-width: 993px) {
    #side-menu-nav {
        z-index: 0;
        padding-top: 70px;
    }
}

.sidebar-padding-left {
    margin-left: 300px;
    z-index: -1;
}

.container-mini {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
}

td {
    padding: 5px 5px;
}

span#row_number {
    margin-left: 20px;
}

.pull-right {
    float:right;
}

#numberForm input[type=text] {
    height: 2rem;
}

.input-field {
    margin-top: 0.5rem;
}
